<header>
	<div class="header-content">
			<div class="header-content-inner">
					<h1>Piggy Bank</h1>				
					<img src="<%= image_url "piggybankLogo.png" %>" class="img-responsive logo_home">
					<hr>
					<h2>Who would have thought that a piggy bank could make your work so <strong>easy</strong>.</h2>
			</div>
	</div>
</header>