<div class="header-content">
<%= link_to 'New Revenue', new_revenue_path %>

<p id='notice'><%= notice %></p>

<% if (@revenues.count >0 ) %>
<h1>Listing Revenues</h1>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>User</th>
      <th>Amount</th>
      <th colspan='1'></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'revenue' %>
  </tbody>
</table>
<% end %>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> 
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>