// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tab-content > .tab-pane {
    display: block !important;
    height: 0;
    overflow-y: hidden;
}

.tab-content > .active {
    height: auto;
}