<div class="header-content">

<%= link_to 'New Expense', new_expense_path %>

<p id='notice'><%= notice %></p>

<% if (@expenses.count >0 ) %>
<h1>Listing Expenses</h1>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>User</th>
      <th>Amount</th>
      <th colspan='1'></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'expense' %>
  </tbody>
</table>
<% end %>
</div>